body{
	font-family: arial;
	line-height: 1.4em;
	margin:0;
}


a{
	color:#fff;
	text-decoration: none;
}

ul{
	padding:0;
}

header{
	background-image: url("https://ascottishpenguin.github.io/gloria_website/css/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height:100%;
}

hr {
width: 5%;
height: 4px;
opacity: 50%;
margin-left: auto;
margin-right: auto;
background-color:#fff;
border-radius: 5px;
border-color: #fff;
transition: width 1.5s;
}

.header-title{
	text-align: center;
	display: flex;
	justify-content: center;
    flex-direction: column;
}

#container{
	background-color: #333;
	width: 960px;
	margin:30px auto;
	overflow: hidden;
	padding: 10px;
}

.header-container{
	display:flex;
	justify-content:center;
	height:100%;
}

.header-container h1{
	font-size: 3em;
	color: #FDFDFD;
	font-family: 'Montserrat', sans-serif;
}

.header-container h2{
	font-size: 2em;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.header-container h2 #first{
	opacity: 0;
	animation-name: fadeIn;
    animation-duration: 1s;
	animation-delay: 1s;
    color: white;
	animation-fill-mode: forwards; 
}

.header-container h2 #second{
	opacity: 0;
	animation-name: fadeIn;
	animation-delay: 1.15s;
    animation-duration: 1s;
    color: white;
	animation-fill-mode: forwards; 
}

.header-container h2 #third{
	opacity: 0;
	animation-name: fadeIn;
	animation-delay: 1.3s;
    animation-duration: 1s;
    color: white;
	animation-fill-mode: forwards; 
}


.header-container h2 #fourth{
	opacity: 0;
	animation-name: fadeIn;
	animation-delay: 1.45s;
    animation-duration: 1s;
    color: white;
	animation-fill-mode: forwards; 
}

.header-container h2 #fifth{
	opacity: 0;
	animation-name: fadeIn;
	animation-delay: 1.6s;
    animation-duration: 1s;
    color: white;
	animation-fill-mode: forwards; 
}

.header-container h2 #sixth{
	opacity: 0;
	animation-name: fadeIn;
	animation-delay: 1.75s;
    animation-duration: 1s;
    color: white;
	animation-fill-mode: forwards; 
}

.header-container h2 #seventh{
	opacity: 0;
	animation-name: fadeIn;
	animation-delay: 1.9s;
    animation-duration: 1s;
    color: white;
	animation-fill-mode: forwards; 
}

#nav{
	height:40px;
}

#nav ul{
	padding-top:13px;
	padding-left:10px
}

#nav li{
	list-style: none;
	float: right;
	padding-right: 20px;
}

#nav .active{
	font-weight: bold;
	color: #000;
}

#main{
	float: left;
	width:60%;
}


#footer{
	text-align:center;
	padding: 10px;
	background: #666;
	margin-top:30px;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
